@tailwind base;
@tailwind components;

.img-container {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    width: 100%;
    max-height: 50%;
    overflow: scroll;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.overlay::-webkit-scrollbar {
    display: none;
}

.img-container:hover .overlay {
    opacity: 1;
}

@tailwind utilities;